@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dir-ltr {
    direction: ltr !important;
  }

  .dir-rtl {
    direction: rtl !important;
  }
}

*::-webkit-scrollbar {
  @apply h-2 w-2;
}

/**::-webkit-scrollbar-track {*/
/*}*/

*::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-secondary/20;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary/40;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
